html{
    background-color: #FFFFFF;
    background-image: 
    url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%23FFFFFF'/%3E%3Cstop offset='1' stop-color='%23FFFFFF'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%230AFF00' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%230AFF00' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}
body{
 font-size: 62.5%;
 margin: 0;
 direction: rtl;
 padding-right: 1.25rem;
}
::-webkit-scrollbar {
width: 0.5rem;
 background: rgb(0,255,81);
 background: linear-gradient(10deg, rgba(0, 255, 81, 0.315) 40%, rgba(238,238,238,1) 66%);
 
}
      
::-webkit-scrollbar-thumb {
 background-color: #00ff51af; /* Color of the scroll thumb */
 border: 1.75px solid #00ff5160;
 border-radius: 0.25rem;
}
h1{
 text-shadow: 3px 3px 3px  #999;
}
h2{
 font-family: 'Tajawal', sans-serif;
 font-size: 1.75rem;
 }
p{
 font-size: 1.5rem;   
 line-height: 2.1rem;
 width: 90%;
 font-family: 'Tajawal', sans-serif;
}
main{
 display: grid;
 grid-template-rows: repeat(6,13%);
 grid-column: 1 , 75vw;
 align-items: start;
 justify-items: center;    
}
i{
margin-left: 10vw;
border-radius: 10px;

}
header{
font-family: 'Almarai', sans-serif;
font-size: 1.25rem;
}
footer{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 1rem;
    margin-right: -0.9rem;
    height: 55vh;
    width: 100%;
    background: rgb(0,255,81);
    background: linear-gradient(175deg, rgba(7,154,71,0.5) 35%, rgba(12,72,63,1) 100%);}
.navbar{
direction: ltr;
display: inline-flex  ;
width: 95vw;
flex-direction: row;
align-items: center;
position: fixed;
z-index: 1;
background-color: #f1f1f1;
transition: all 1s ease-out
}
.slideshow-container {
position: relative;
width: 90vw;
height: 40vw; 
overflow: hidden;
margin-right: 2.5%;
transition: all 0.7s ;
}
    
.slideshow-image {
display: none;
width: 100%;
height: 100%;
animation: begining 4s  ;
animation-direction: reverse;
object-fit: cover
}
.logo{
margin-top: 0.5rem;
margin-left: 1rem;
width: 26 vw;
height: 6vw;
}
.card{
text-align: center;
display: flex;
flex-direction: column;
align-items: center;
transition: transform 0.5s , box-shadow 0.5s , border-radius 0.7s;
width: 75vw;
height: 65%;
margin-bottom: 50vw;
}
.images-section{
width: 80%;
border-radius: 5px;
transition: all 0.5s;
display: block;
margin-top: -1.25rem;
}
.horizantel-card{
    height: 98%;
    
}
.horizantel-image{
    height: 72%;

}
.sections-title{
    margin-bottom: -1rem;
    transition: all 0.5s;
}
.location{
    justify-self: center;
    width: 75vw;
    height: 90vw;
    margin-right: 6vw;
    border-radius: 50px;
    border: 0;   
    transition: all 0.5s;
}
.link{
font-family: 'Lemonada', cursive;
font-size: 1rem;
color: #777;
text-decoration: none;
transition: all 0.75s ease-in-out ;
border-radius: 4px;
margin-top: 0.25rem;
margin-bottom: 1rem;
margin-left: 35%;
font-size: 0.72rem;
margin-right: 6vw;

}
.location-p{
    font-family: 'Tajawal', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    }
.location-pp{
    text-align: center;
}
.sections-links{
    width: 25vw;
    text-decoration: none;
    margin-right: 1rem;
    font-family: 'Lemonada', cursive;
    font-size: 0.75rem;
    color: #fff;
}
.white-logo{
    margin-right: 74%;
    width: 25vw;
    
}
.number{
    margin-top: -2rem;
}
.footer-icon{
    margin-top: 1rem;
    margin-right: 32vw;
}
.designer-name{
    font-family: 'Zilla Slab', serif;
    color: #ccc;
    margin: 0;
    margin-right: -0.9rem;
    width: 100%;
    text-align: center;
    font-size: 1rem;
    background-color: #045c26;
   }


.navbar:hover{
    background: rgb(102,102,102);
background: linear-gradient(214deg, rgba(170,170,170,0.75) 0%, rgba(256,256,256,0.95) 70%);
   border-radius: 7px;
 transform: scale(1.05);
}

.slideshow-container:hover{
transform:  scale(1.03) ;
}
.card:hover{
transform: scale(1.05);
box-shadow: 0 0 10px 5px #00ff51bd;
border-radius: 20px;
.sections-title{
    text-shadow: 0 0px 10px #ccc;
    transform: scale(1.05);
}

}
.link:hover{
 transform: translateX(-5rem)  scale(1.25) ;

}
.location:hover{
    box-shadow: 0 0 10px 1px #ccc;
   .location-p{
    transform: scale(1.5);
   }
}

@keyframes begining{
    0%{
        transform: translatey(100vw) ;
    }
    100%{
        transform: scale(1);
    }
}
    @media screen and ( min-width:820px){
        i{
            margin-left: 15vw;
        }
        h1,h2,p{
            margin-right: 1rem;
            width: 75%;
        }
        h1{
            margin-top: -0.1rem;
            font-size: 3rem;
        }
        h2{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
            width: 75%;
        }
        main{
            grid-template-columns: repeat(3,30%);
            grid-template-rows: repeat(2,100vh);
            column-gap: 1rem;
            justify-content: center;
            
            
        }
        .card{
            text-align: center;
            width: 95%;
            height: 80vh;

        }
        .link{
            margin-top: 1rem;
            margin-right: 8%;
            font-size: 0.9rem;

        }
        .horizantel-image{
            height: 60%;
        }
        .horizantel-card{
          /*  margin-top:-65vh;*/
            text-align: center;
            height: 110%;
            }
            .location-pp{
                margin-right: 11vw;
            }
        .sections-title{
            margin-bottom: 1rem;
            
        }
        .locatin-section{
            
        grid-column: 1/span 3; 
        }
      }
     
  
  